<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--配置信息-->
    <add key="StaffId" value="E9855A6C-3F1A-4AA0-9AAB-DE3AF2E10013" />
    <add key="GetTokenApi" value="http://localhost:14826/api/Service/GetToken"/>
  </appSettings>
</configuration>